<div class="article-list">
   <div class="article-item" >
        <h2 style="font-weight:bold">Spring boot - Validating Errors</h2>

        <p>
             Containers are nowadays everywhere. In this day and age, either you're using Docker or considering adopting it. Containers are lightweight and provide a consistent & portable software environment for applications to easily run and scale anywhere. They've made a huge impact on the way we architect, develop and ship our software.
        </p>
        <a href="#"> Read more </a> <i class="material-icons md-36" style="">keyboard_arrow_right</i>
    </div>
    <div class="article-item" >
         <h4>article 1</h4>
         <img src="" alt="">
         <p>
              Hello from article
         </p>
     </div>
     <div class="article-item" >
          <h4>article 1</h4>
          <img src="" alt="">
          <p>
               Hello from article
          </p>
      </div>
</div>
