.article-list{
  display: grid;
  grid-template-columns: 50% 50%;
}
.article-item{
  border: 1px solid rgb(240,240,240);
  background-color: white;
  min-height: 300px;
  max-height: 500px;
  margin-left: 5%;
  padding: 2%;
  margin-top: 2%;
}
.article-item:hover{
  box-shadow: 0px 1px 17px -9px rgba(150,147,150,1);
}

.article-item-metadata{
  padding-top: 5%;
  margin-bottom:1%;
   font-size: 12px;
}
.read-more{
  text-decoration: none;
  float: right;
}

.article-highlight{
  color: #595776;
  font-size: 15px;
}
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .article-list{
      display: grid;
      grid-template-columns: 100%;
    }
}

@media only screen  and (max-width: 700px) {
  .article-list{
    display: grid;
    grid-template-columns: 100%;
  }
}

.summary_author_name{
  font-size: 15px;
  color:rgb(2, 179, 179);
}
.summary_author_name::selection{
  color: black;
}
.summary_author_img{
  padding:2%;width: 35px; height:35px; border: 1px rgba(0,200,200,.54) solid; border-radius: 50%;
}
.summary_time_read{
  font-size:19px; 
  float: left;
  color: #595776;
}
.summary_time_read_1{
  font-size:13px;
}
.summary_bar_info{
  width: 100%;
}
