.article-list{
  display: grid;
  grid-template-columns: 50% 50%;
}
.article-item{
  border: 1px solid rgb(240,240,240);
  background-color: white;
  height: 300px;
  margin-left: 5%;
  padding: 2%;
  margin-top: 2%;
}

.article-item-metadata{
  padding-top: 5%;
  margin-bottom:1%;
   font-size: 12px;
}
.read-more{
  text-decoration: none;
}

.article-highlight{
  color: #595776;
}
.article-item:hover{
  border:2px solid rgb(241,241,241);
  padding: 10px;
  box-shadow: 1px 2px 1px rgb(242,242,242);
}
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .article-list{
      display: grid;
      grid-template-columns: 100%;
    }
}
