<div class="article-list">
  <div class="article-item" >
       <h2>Spring boot - Handling validation errors in RESTful API</h2>

       <p class="article-highlight">
            90% of nowadays projects use RESTful API to expose there services, with spring boot this become a piece of cake.
            But what about Validation (the main topic for this post) ....
       </p>
       <a class="read-more" href="#"> Read more  <span style="font-weight:bold; font-size:18px;"> > </span></a>

       <div class="article-item-metadata">
         <hr>
         <table>
            <tr>
                   <td><i class="material-icons" style="font-size:17px">account_circle</i> Abdelghani Roussi</td>
                   <td style="width:10%">  </td>
                   <td><i class="material-icons" style="font-size:17px">access_time</i>  12/05/2019</td>
            </tr>
         </table>
       </div>
   </div>
   <div class="article-item" >
        <h2>Backing up elasticsearch indices with curator & minio!</h2>

        <p class="article-highlight">
             Nowadays, Log management becomes more and more important especially in distributed and microservices architecture.
              A variety of solutions exist in the market, both commercial and open source!  ....
        </p>
        <a class="read-more" href="#"> Read more  <span style="font-weight:bold; font-size:18px;"> > </span></a>
        <div class="article-item-metadata">
          <hr>
          <table>
             <tr>
                    <td><i class="material-icons" style="font-size:17px">account_circle</i> Abdelghani Roussi</td>
                    <td style="width:10%">  </td>
                    <td><i class="material-icons" style="font-size:17px">access_time</i>  12/04/2019</td>
             </tr>
          </table>
        </div>
    </div>
    <div class="article-item" >
         <h2>Spring boot Restful API  Handling  Errors</h2>

         <p class="article-highlight">
              Containers are nowadays everywhere. In this day and age, either you're using Docker or considering adopting it.
               Containers are lightweight and provide a consistent & portable software environment ....
         </p>
         <a class="read-more" href="#"> Read more  <span style="font-weight:bold; font-size:18px;"> > </span></a>
         <div class="article-item-metadata">
           <hr>
           <table>
              <tr>
                     <td><i class="material-icons" style="font-size:17px">account_circle</i> Abdelghani Roussi</td>
                     <td style="width:10%">  </td>
                     <td><i class="material-icons" style="font-size:17px">access_time</i>  12/04/2019</td>
              </tr>
           </table>
         </div>
     </div>


</div>
