<div class="article-list">
  <div class="article-item" >
       <h2>Spring boot - Handling validation errors in RESTful API</h2>

       <p class="article-highlight">
            90% of nowadays projects use RESTful API to expose there services, with spring boot this become a piece of cake.
            But what about Validation (the main topic for this post) ....
       </p>
       <a class="read-more" routerLink="/articles/spring-boot-validation-errors"> Read more  <strong>...</strong></a>

       <div class="article-item-metadata">
         <hr >
         <table class="summary_bar_info">
            <tr>
                   <td class="summary_author_name">
                        <img src="./../../../assets/img/logo3.png" class="summary_author_img" /> Abdelghani Roussi
                    </td>
                   <td style="width:25%">  </td>
                   <td style="float:right"><i class="material-icons summary_time_read">access_time</i> <span class="summary_time_read_1">12/05/2019 - 5 min read</span> </td>
            </tr>
         </table>
       </div>
   </div>
   <div class="article-item" >
        <h2>Backing up elasticsearch indices with curator & minio!</h2>

        <p class="article-highlight">
             Nowadays, Log management becomes more and more important especially in distributed and microservices architecture.
              A variety of solutions exist in the market, both commercial and open source!  ....
        </p>
        <a class="read-more" routerLink="/articles/curator-minio"> Read more  <strong>...</strong></a>
        <div class="article-item-metadata">
          <hr>

          <table class="summary_bar_info">
             <tr>
                    <td class="summary_author_name"><img src="./../../../assets/img/logo3.png" class="summary_author_img" /> Abdelghani Roussi</td>
                    <td style="width:25%">  </td>
                    <td style="float:right"><i class="material-icons summary_time_read">access_time</i> <span class="summary_time_read_1">12/04/2019 - 5 min read</span> </td>
             </tr>
          </table>
        </div>
    </div>
    <div class="article-item" >
         <h2>Spring boot & Docker: build image for application</h2>

         <p class="article-highlight">
              Containers are nowadays everywhere. In this day and age, either you're using Docker or considering adopting it.
               Containers are lightweight and provide a consistent & portable software environment ....
         </p>
         <a class="read-more" routerLink="/articles/spring-boot-docker"> Read more  <strong>...</strong></a>
         <div class="article-item-metadata">
           <hr>
           <table class="summary_bar_info">
              <tr>
                     <td class="summary_author_name"><img src="./../../../assets/img/logo3.png" class="summary_author_img" /> Abdelghani Roussi</td>
                     <td style="width:25%">  </td>
                     <td style="float:right"><i class="material-icons summary_time_read">access_time</i> <span class="summary_time_read_1"> 12/04/2019 - 5 min read </span> </td>
              </tr>
           </table>
         </div>
     </div>


</div>
