<nav class="navbar mb-5 header-nav">
  <div class="navbar-brand" href="/">
  </div>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a style="width: 70px;"> <img class="nav-link" src="../../../assets/img/logo3.png" style="width: 45px; height:42px;" /> </a>
      <a class="nav-link a-link header-nav-item" style="font-weight:bold" routerLink="/articles" routerLinkActive="router-link-active" >ARTICLES</a>
      <a class="nav-link a-link header-nav-item" style="font-weight:bold" routerLink="/contact" routerLinkActive="router-link-active">CONTACT</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link h-22-px" href="https://github.com/roussi" target="_blank">
        <i class="fa fa-github gray-dark"></i>
      </a>
      <a class="nav-item nav-link h-22-px " href="https://twitter.com/roussiAbel" target="_blank">
        <i class="fa fa-twitter primary"></i>
      </a>

    </div>
  </div>
</nav>
