<nav class="navbar mb-5" style=" background-color: #ffffff; border-bottom:1px solid #f0eeee">
  <div class="navbar-brand" href="/">
  </div>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a style="width: 70px;"> <img class="nav-link" src="../../../assets/img/logo3.png" style="width: 45px; height:42px;" /> </a>
      <a class="nav-link a-link" routerLink="/articles" routerLinkActive="router-link-active" >Articles</a>
      <a class="nav-link a-link" routerLink="/contact" routerLinkActive="router-link-active">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link h-22-px " href="https://github.com/roussi" target="_blank">
        <i class="fa fa-github gray-dark"></i>
      </a>
      <a class="nav-item nav-link h-22-px " href="https://twitter.com/roussiAbel" target="_blank">
        <i class="fa fa-twitter primary"></i>
      </a>

    </div>
  </div>
</nav>
