<nav class="navbar mb-5 header-nav navbar-expand-lg navbar-static-top"  role="navigation" >
    <a class="navbar-brand"> <img class="nav-link" src="../../../assets/img/logo3.png" style="width: 65px; height:43  px;" /> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#rsoneCollapsedMenu" aria-controls="rsoneCollapsedMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-align-justify" style="color: rgb(35, 214, 169)"> </i>
    </button>
    <div class="collapse navbar-collapse" id="rsoneCollapsedMenu" >
      <ul class="navbar-nav mr-auto" style=" width: 100%;">
          <li class="nav-item">
          </li>
          <li class="nav-item">
              <a class="nav-link a-link header-nav-item" style="font-weight:bold; display: inline-block;" routerLink="/articles" routerLinkActive="router-link-active" >ARTICLES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link a-link header-nav-item" style="font-weight:bold; display: inline-block;" routerLink="/contact" routerLinkActive="router-link-active">CONTACT</a>
          </li>
      </ul>
      <ul class="navbar-nav mr-auto rss">
          <li class="nav-item" >
              <a class="nav-item nav-link h-22-px" href="https://github.com/roussi" target="_blank">
                <i class="fa fa-github gray-dark"></i>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link h-22-px " href="https://twitter.com/roussiAbel" target="_blank">
                <i class="fa fa-twitter primary"></i>
              </a>
          </li>
      </ul>
        
    </div>
  </nav>