<div class="row">
  <div class="col">
            <div class="content-card">
                <div class="row">
                  <div class="col-md-3">
                      <span class="profile-picture">
                          <img class="editable img-responsive" width="100%" alt=" Avatar" id="avatar2" src="../../assets/img/me_png.png">
                        </span>
                  </div>
                  <div class="col-md-7">
                    <h3 style="font-weight: bold; margin-left: 7%;">Abdelghani ROUSSI</h3>
                    <ul style="list-style-type: none;">
                      <li>
                        <p>
                            <a href="https://bcert.me/bc/html/show-badge.html?b=mvwpxmmp" target="_blank">Certified Spring professional</a>
                            and Technical Leader consultant
                            <br> <br>

                            <strong>Abdelghani</strong> is a certified Spring professional (v5) and Java developer by passion. Working as technical leader, with over 4 years experience designing and developing high-performance platforms and architectures using Java / JavaEE ecosystem and frameworks. He is accurate,
                             fast-learner with excellent analytic, decision-making and technical skills.
                        </p>
                        <p> Feel free to drop him a message on
                          <a href="https://www.linkedin.com/in/abdelghani-roussi-7518328a/" target="_blank">
                           <i class="fa fa-linkedin blue"></i>
                          </a>.
                        </p>

                      </li>
                    </ul>
                  </div>
                </div>
            </div>
  </div>
</div>
