<div class="row">
  <div class="col">
            <div class="content-card">
                <div class="row">
                  <div class="col-md-3">
                    <div class=" d-flex justify-content-center row">
                        <div class="profile-picture">
                            <img class="editable img-responsive" width="100%" alt=" Avatar" id="avatar2" src="../../assets/img/me_png.png">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <div class="mt-2 justify-content-center" >
                            <p style="display:inline-block;">
                              <a href="https://twitter.com/intent/tweet?screen_name=roussiAbel&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @roussiAbel</a>
                              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </p>
                          </div>
                    </div>  
                        
                  </div>
                  <div class="col-md-7">
                    
                    <ul style="list-style-type: none;">
                      <li>
                        <h3>Abdelghani ROUSSI</h3>
                      </li>
                      <li>
                        <p>
                            <a href="https://bcert.me/bc/html/show-badge.html?b=mvwpxmmp" target="_blank">Certified Spring professional</a>
                            and Technical Leader consultant
                            <br> <br>

                            <strong>Abdelghani</strong> is a certified Spring professional (v5) and Java developer by passion. Working as technical leader, with over 4 years experience designing and developing high-performance platforms and architectures using Java / JavaEE ecosystem and frameworks. He is accurate,
                             fast-learner with excellent analytic, decision-making and technical skills.
                        </p>
                        <div> Feel free to drop him a message on
                          <a href="https://www.linkedin.com/in/abdelghani-roussi-7518328a/" target="_blank">
                           <i class="fa fa-linkedin blue"></i>
                          </a>.
                        </div>

                      </li>
                    </ul>
                  </div>
                </div>
            </div>
  </div>
</div>
