<div class="content-card">
  <div class="row">
    <div class="col" class="green-light" >
      <h6 style="text-align: center">Tags</h6>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <mat-chip-list>
              <mat-chip style="background-color: lightseagreen; color: white">Spring Boot</mat-chip>
              <mat-chip style="background-color: cornflowerblue; color: white">Java</mat-chip>
              <mat-chip color="primary" selected>Gradle</mat-chip>
              <mat-chip color="accent" selected>Docker</mat-chip>
          </mat-chip-list>
      </div>
  </div>
</div>
