<div class="content-card">
  <div class="row" style="height:400px; overflow-x:scroll;">
      <div class="col">
        <a class="twitter-timeline" 
        
        href="https://twitter.com/RoussiAbel?ref_src=twsrc%5Etfw">Tweets by RoussiAbel</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
  </div>
</div>
<div class="content-card">
  <h5 class="row">Read also </h5>
  <ul style="list-style: square;">
    <li><a href="" >Realtime data processing using Spring Boot, MQTT and Apache Kafka.</a></li>
    <li><a href="" >10 tips for Intellij IDEA 2019.</a></li>
    <li><a href="" >Realtime data processing using Spring Boot, MQTT and Apache Kafka</a></li>
    <li><a href="" >Realtime data processing using Spring Boot, MQTT and Apache Kafka</a></li>
  </ul>

</div>