<div class="row">
  <div class="col-md-8">
            <div class="content-card">
              <div class="row">
                  <table class="mb-3 col-12" >
                      <tr style=" height: 30px; width:100%; display:inline-block;">
                       <td rowspan="2" style="width: 20%;">
                          <img src="./../../../assets/img/me_png.png" class="author_img" /> 
                       </td>
                       <td >
                          <h5 class="gray col-11 " style="font-size: 12px; font-weight: bold; vertical-align: bottom;">ROUSSI Abdelghani</h5>  
                        </td>
                      </tr>
                      <tr>
                       <td style=" height: 7px; vertical-align: top; display:inline-block;">
                          <h5 class="gray col-12" style="font-size: 12px; margin-left:52px !important ">24 Mai 2019 - 10 min read</h5>
                       </td>
                      </tr>
                    </table>
              </div>
                <div class="row">
                    <div class="col" style="text-align: center">
                        <img [src]="article.image" width="80%"  />
                    </div>
                </div>
                <div class="row" style="white-space: pre-wrap;margin-top:5%;">
                  <h3 class="dark col-12" style="font-weight: bold; margin:auto; display:inline-block">{{article.title}} </h3>
                    <hr class="separator col-12" />
                    <div class="article-content col-12" [innerHTML]="article.content">
                    </div>
                </div>
                <div class="row">
                  <a href="https://twitter.com/intent/tweet?screen_name=roussiAbel&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @roussiAbel</a>
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                
            </div>
            
  </div>
  <div class="col-md-4">
      <app-side-bar> </app-side-bar>
    </div>
</div>
