/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
@import "assets/css/_colors.css";



html, body { height: 100%; }
body {
  font-family: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
  font-size: 15px;
  background-color: #f6f7fb;
  color: #005;
  line-height: 1.5;
  letter-spacing: .2px;
  overflow-x: hidden;
}
.content-card{
    font-family: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    font-size: 13px;
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    padding: 22px 44px 22px;
    transition: all .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.article-writing-snippets{
  background-color: #eeeeee;
  min-height: 100px;
}
h2,h3,h4{
  font-family:'Abel', sans-serif;
  font-weight: bold;
}
::selection {
  background: #1DE9B6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #1DE9B6; /* Gecko Browsers */
}
.login-div{
    width: 40% !important;
    height: 400px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
}
.card-login{
    height: 400px;
}
.a-link{
  font: 'Abel', sans-serif bold;
  color: black;
  width: 100px;
  text-align: center;
}
.a-link:hover{
  border-bottom: 2px dodgerblue solid;
}
.a-link:hover ~  .router-link-active{
  border-bottom: none;
}
.router-link-active {
  border-bottom: 2px dodgerblue solid;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    height: 50px;
    padding-left: 3%;
    line-height: 60px;
    //background-color: #fdfcfc;
}
.nav-item {
    color: #888da8 !important;
}
.h-22-px{
    font-size: 22px;
}
