/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }

mat-toolbar{
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #f2f2f2 !important; border-bottom: 1px solid #ddd9d9;
}
  mat-card, mat-list {
    max-width: 60%;
    margin: 5em auto;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }
  .acrticle-Header{
      color: indigo;
      margin-top: 0%;
  }
  .article-header{
    border-left: #03a87c 3px solid; 
    padding-left: 1%;
  }
  .p-article{
    margin-left: 2%;
  }
  .readmore{
    color:#03a87c !important; 
    margin-left: 2% !important; 
    right: 0 !important;
  }
  .subtitle-article-header{
    color:#93939c ;margin-top:-1%; margin-left: 2%; font-weight: normal;
  }
  .btn-header{
    Color : gray; font-weight: normal;
  }
  .btn-header-right{
    Color : gray !important; font-weight: normal !important; right: 2% !important; position: absolute !important;
  }
  .example-tooltip-blue{
    background-color: cornflowerblue;
  }
pre{
    display: block;
    padding-top:9px;
    font-size: 13px;
    line-height: 1.7;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
}
.keyword-type{
    color: chocolate;
    font-weight: bold;
}
.annotation{
    color: #03926c;
    font-weight: bold;
}
.syntax-heightlight{
    background-color: rgb(250, 230, 206);
    border: 1px solid rgb(255, 234, 139);
    border-radius: 2px;
    padding: 2px;
    color: rgb(128, 89, 39)
}