<div class="container" style="margin-top:20%">
  <div class="row justify-content-md-center">
      <div class="card col-md-7">
          <div class="card-body">
            <blockquote style="text-align: center" class="blockquote mb-0">
              <h2>404 NOT FOUND !</h2>
              <p>The resource you are searching for is not found.</p>
              <footer class="blockquote-footer">Go <cite title="Source Title"><a href="/home">Home</a></cite></footer>
            </blockquote>
          </div>
        </div>
  </div>
</div>

